

/*

TODO:

    * create variables for different tiers of margin, padding, font size etc.
    * cleanup this stylesheet, do not use styling on default html tags except for resets.
    * do not mix styling on the same property in- and outside of media queries,
      all the media query dependent logic should happen in that media query.
    
*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    image-rendering: optimizeSpeed;

    --foreground-dark: #DDDDDDFF;
    --foreground-light: #222222FF;
    --background-dark: #222222FF;
    --background-light: #DDDDDDFF;
    --highlight-dark: #333333FF;
    --highlight-light: #CCCCCCFF;

    --gap-small: 4px;
    --gap-medium: 12px;
    --gap-large: 32px;

    --foreground: none;
    --background: none;
    --highlight: none;
}


@media(prefers-color-scheme: light) {
    * {
        --foreground: var(--foreground-light);
        --background: var(--background-light);
        --highlight: var(--highlight-light);
    }
}


@media(prefers-color-scheme: dark) {
    * {
        --foreground: var(--foreground-dark);
        --background: var(--background-dark);
        --highlight: var(--highlight-dark);
    }
}


::-webkit-scrollbar {
    background-color: var(--background);
}

::-webkit-scrollbar-button {
    display: none;
    background-color: var(--highlight)
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight)
}


.aba-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--foreground);
    background-color: var(--background);
}


header {
    height: 40px;
    display: flex;
    align-items: center;
}

header > a {
    height: 100%;
    padding: 8px;
}

header > a:hover {
    background-color: var(--highlight);
}

header > a > picture > img {
    height: 100%;
}

header > ul {
    height: 100%;
    flex-grow: 1;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

header > ul > li {
    padding: var(--gap-small) var(--gap-medium);
    align-content: center;
}

header > ul > li > a {
    font-size: 16px;
    color: var(--foreground);
    text-decoration: none;
}

header > ul > li:hover {
    background-color: var(--highlight);
}


main {
    flex-grow: 1;
}


footer {
    text-align: center;
    padding: var(--gap-medium);
}

footer > ul {
    height: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: var(--gap-medium) 0px;
}

footer > ul > li {
    padding: var(--gap-small);
    flex-grow: 0;
    height: 100%;
    width: fit-content;
}

footer > ul > li > a {

}

footer > ul > li:hover {
    background-color: var(--highlight);
} 

footer > ul > li > a > picture > img {
    height: 100%;
}


.aba-home {
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px var(--gap-large);
}

.aba-home > h1 {
    font-size: 3em;
    margin-bottom: var(--gap-large);
}

.aba-home > h2 {
    margin-bottom: var(--gap-small);
}

.aba-home > p {
    font-size: 1.2em;
}

.aba-home > a > img {
    width: 40vw;
    height: 40vw;
    max-width: 320px;
    max-height: 320px;
    object-fit: cover;
    align-self: center;
    border-radius: 100%;
    margin-bottom: 40px;
    outline: 8px solid var(--highlight);
}

.aba-home > a > img:hover {
    outline: 8px solid var(--foreground);
}


#home,
#aboutme {
    display: flex;
    flex-direction: column;
    padding: 64px 10vw;
    gap: 48px;
}


#aboutme > article {
    display: flex;
    align-items: center;
    background-color: var(--highlight);
    padding: 20px 48px;
}

#aboutme > article > img {
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 128px;
    object-position: center;
    object-fit: cover;
}

#aboutme > article > h2 {
    flex-grow: 1;
    font-size: 2em;
    margin-left: 24px;
}


#projects {
    gap: 48px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px 10vw;
    gap: 48px;
}


.projectCard {
    border-radius: 16px;
    background-color: var(--highlight);
    text-align: center;
    max-width: 512px;
}


.projectCard > a > img,
.projectCard > a > picture > img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.projectCard > div {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.projectCard > div > h2 {
    margin-bottom: 20px;
}

.projectCard > div > p {
    margin-bottom: 32px;
}

.projectCard > div > a {
    padding: 8px;
    text-decoration: none;
    color: var(--foreground);
    outline: 1px solid var(--foreground);
    align-self: center;
}

.projectCard > div > a:hover {
    background-color: var(--background);
}


.wip {
    width: 100%;
    font-size: 48px;
    text-align: center;
}

#projectMain {
    display: flex;
    padding-top: 48px;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

#project {
    margin: 10vw;
    max-width: 768px;
    border-radius: 12px;
    background-color: var(--highlight);
    margin: 0px 10vw;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

#project > img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#project > h1 {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

#project > small {
    /* align-self: flex-end; */
    padding: 8px 32px 0px 32px;
}

#project > p {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}


.badges {
    display: flex;
    margin: 0px 32px;
    /* width: max-content; */
    /* justify-content: flex-end; */
    padding-top: 8px;
    padding-bottom: 32px;
}

.badges > span {
    padding: 0px 16px;
    border-radius: 8px;
    background-color: var(--background);
}


@media (max-width: 768px) {
    header {
        height: fit-content;
        flex-direction: column;
    }

    header > a {
        margin: 12px;
    }

    header > a > picture > img {
        height: 32px;
    }

    header > ul {
        align-items: center;
        flex-direction: column;
    }

    header > ul > li {
        width: 100%;
        padding: 4px 16px;
        text-align: center;
    }
}

